body {
  background: #E4E4E4;
  margin: 0px;
}

input, select, textarea {
  color: #000;
}

.fill{
  min-height:100vh;
}

.no-padding{
  padding: 0px !important;
}

.highlighted{
  background-color: #3399FF !important;
}

.announcments{
  background-color: #FFF;
}

.price{
  padding: 10px 0px 10px 10px;
}

.top-panel{
  height: 40px;
  padding: 10px 0px 20px;
  border-bottom: 1px solid #7C7C7C;
}

.home-content{
  paddind:10px;
  background-color:#FFF;
  margin-top: 10px;
}

.dark{
  background-color: #000;
}

h1{
  font-family: 'Istok Web', sans-serif;
}

footer{
  clear:both;
  height: 50px;
  padding: 10px 0px 30px;
  border-top: 1px solid #7C7C7C;
}

.box-sizer{
  min-width: 200px;
}

.previewPicture {
  width: 100%;
  height: 170px;
}

.pictureBorder:hover{
  border: 2px solid #606060;
  border-radius:3px;
}

.smallPictures{
  padding-top:10px;
}

.user-anchor, .user-anchor:hover, .user-anchor:active{
  color: #202020;
  font-weight: bold;
}

.advertAnchor{
  color: black;
  font-size: 17px;
}

.menuAnchor, .menuAnchor:hover, .menuAnchor:active{
  color: #000;
  text-decoration: none;
}

.advertAnchor:hover{
  background-color: #39F;
  color: #000;
  text-decoration: none;
}

.messageGetter{
  background-color: #EEE;
  text-align: right !important;
}

.messageOwner{
  background-color: #DDD;
}

.keyword {
  color: #606060;
  font-weight: 550;
}

.valueOfKeyword{
  color: #404040;
  font-weight: 550;
}

.margined{
  padding:0px 15px;
}
.padding-bottom{
  padding-bottom: 20px !important;
}

.padding-left{
  padding-left: 15px;
}

.margin-bottom{
  margin-bottom: 30px;
}

.margin{
  margin:10px;
}

.margin-bottom{
  margin-bottom: 10px;
}

.small-photo{
  height: 50px;
}

.input-sizer{
  width:300px;
}

.user-access{
  border: 2px solid #808080;
  border-radius: 8px;
  padding:10px;
}

.user-errors{
  border: 2px solid #A62A2A;
  border-radius: 8px;
  padding: 10px;
  color: #A62A2A;
}

.bg-darker-white{
  background-color: #EEE;
}

.font-sizer{
  font-size:14px;
}

.font-sizer-bigger{
  font-size:18px;
}

.bg-white{
  background-color: #FFF;
}

@media (max-width: 767px) {
    .btn-xs-block {
        display: block;
        width: 100%;
    }
    .box-sizer{
        min-width: 100px;
    }

    .btn-block + .btn-xs-block,
    .btn-xs-block + .btn-block,
    .btn-xs-block + .btn-xs-block {
        margin-top: 0.5rem;
    }
}

.alert-fixed {
  position: fixed;
  z-index: 10;
  top: 20px;
}

.singleAnnouncment:hover {
  background: #000;
  color: #fff;
  transition: .20s ease;
}

#messageList {
  height:50.7vh;
  overflow-y: auto;
}
